<%= simple_nested_form_for @request, :html => { :multipart => true } do |f| %>

	<%= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category" } %>

	<br />

	<%= f.fields_for :image do |image| %>
	  <%= task_form.text_field :image %>
	  <%= task_form.link_to_remove "Remove this Image" %>
	<% end %>
	<p><%= f.link_to_add "Add an Image", :image %></p>

	<%#= f.label :image, 'Image' %>
	<%#= f.file_field :image, as: :file %>
	<%# if @request.image? %>
		<%#= image_tag @request.image.url(:medium) %>
		<%#= f.hidden_field :_destroy %>
		<%#= f.link_to_remove "Delete" %>
	<%# end %>

	<%= f.input :title, label: "Title", placeholder: "Title" %>

	<%= f.input :matric_no, label: "Matrics Number", placeholder: "B012345678" %>

	<%= f.input :phone_no, label: "Phone Number (MY)", placeholder: "0123456789" %>

	<%= f.input :rate, label: "Rate per hour/day", placeholder: "20.00" %>

	<%= f.input :description, label: "Description", placeholder: "Tell us more" %>

	<%= f.button :submit %>
<% end %>