<%#= image_tag @images.content.url(:medium) %>
<% if @image.content.present? %>
	<%= image_tag @images.content.url(:medium) %>
	<% end %>
<h1><%= @request.title %></h1>
<p><%= @category.name %></p>
<p><%= @request.matric_no %></p>
<p><%= @request.phone_no %></p>
<p><%= @request.rate %></p>
<p><%= @request.description %></p>
<p>Submitted by <%= @request.user.name %></p>

<p><%= @request.get_upvotes.size %> Likes</p>
<p><%= @request.get_downvotes.size %> Dislikes</p>
<%= link_to "Like", like_request_path(@request), method: :get %>
<%= link_to "Dislike", dislike_request_path(@request), method: :get %>


<h2><%= pluralize(@request.comments.count, "Comment") %></h2>

<% @comments.each do |comment| %>

	<p><%= comment.user.name %></p>
	<p><%= comment.content %></p>
	
<% end %>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_request_path %>
<%= link_to 'Delete', request_path(@request), method: :delete, data: { confirm: "Are you sure?"} %>