<div class="container-fluid">
  <div class="row">
    <h1><%= @request.title %></h1>
        <p class="username">
          Submitted by <%= @request.user.name %> about <%= time_ago_in_words(@request.created_at) %>
        </p>
  </div>
  <div class="row" id="request_show">
    <div class="col-md-6">  
      <div class="clearfix">
        <div class="request_image_description">
          <% @images.each do |image| %>
              <%= image_tag image.content.url(:medium) %>
            <% end %>
          <div class="description">
            <%= simple_format(@request.description) %>
          </div>
        </div>
      </div>
    </div>
    <div class="request_data col-md-2">
      <%= link_to like_request_path(@request), method: :get, class: "data" do %>
        <i class="fa fa-thumbs-o-up"></i>
        <%= pluralize(@request.get_upvotes.size, "Like") %>
      <% end %>
      <%= link_to dislike_request_path(@request), method: :get, class: "data" do %>
        <i class="fa fa-thumbs-o-down"></i>
        <%= pluralize(@request.get_downvotes.size, "Dislike") %>
      <% end %>
      <p class="data">
        <i class="fa fa-comments-o"></i>
        <%= pluralize(@request.comments.count, "Comment") %>
      </p>
      <% if @request.user == current_user %>
        <%= link_to "Edit", edit_request_path(@request), class: "data" %>
        <%= link_to "Delete", request_path(@request), method: :delete, data: { confirm: "Are you sure?" }, class: "data" %>
      <% end %>
    </div>
    <div class="col-md-4" id="random_request">
      <h3>Recommendation</h3>
      <div class="request">
        <div class="request_image">
          <%= link_to (image_tag @random_request.images.first.content.url(:medium)), request_path(@random_request) %>
        </div>
        <div class="request_content">
          <div class="title">
            <h2>
              <%= link_to @random_request.title, request_path(@random_request) %>
            </h2>
          </div>
          <div class="data clearfix">
            <p class="username">
              Submitted by
              <%= @random_request.user.name %>
            </p>
            <p class="buttons">
              <span>
                <i class="fa fa-comments-o"></i>
                <%= @random_request.comments.count %>
              </span>
              <span>
                <i class="fa fa-thumbs-o-up"></i>
                <%= @random_request.get_likes.size %>
              </span>
            </p>
          </div>
        </div>
      </div>
     </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <!-- <iframe width="550" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={@request.address}%20River%20Malaysia&key=AIzaSyCnfFHJDsjchC3WIUjV9ChdJCCWlbEaB_E"></iframe> -->
      <iframe width="550" height="400" frameborder="0" style="border:0" src= <%= "https://www.google.com/maps/embed/v1/place?key=AIzaSyCnfFHJDsjchC3WIUjV9ChdJCCWlbEaB_E&q=#{@request.latitude},#{@request.longitude}" %>></iframe> 
    </div>      
    <div class="col-md-8" id="comments">
      <h2 class="comment_count">
        <%= pluralize(@request.comments.count, "Comment") %>
      </h2>
      <% @comments.each do |comment| %>
        <div class="comment">
          <p class="username">
            <%= comment.user.name %>
          </p>
          <p class="content">
            <%= comment.content %>
          </p>
        </div>
      <% end %>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>