<nav class="navbar navbar-default">
	<div class="container">

		<div class="navbar-header page-scroll">
            <div class="navbar-brand">
            	<%= link_to "UTeM Rental Marketplace", root_path %>
            </div>
        </div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            	<li class="dropdown">
            		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Categories <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<% Category.all.each do |category| %>
								<%= link_to category.name, requests_path(category: category.name) %>
							<% end %>				
						</li>
					</ul>				
            	</li>
            	<li>
                    <%= link_to 'Home', root_path %>
                </li>
            	<li>
            		<%= link_to 'New Request', new_request_path %>
            	</li>
                <li>
                    <%= link_to 'About', about_path %>
                </li>
                <li>
                    <%= link_to 'Contact', contact_path %>
                </li>	          
            	<% if !user_signed_in? %>
                	<li>
						<%= link_to 'Sign Up', new_user_registration_path %>
					</li>
					<li>
						<%= link_to 'Sign In', new_user_session_path %>
					</li>
				<% else %>
					<li>
					<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
					</li>
				<% end %>
            </ul>
    	</div>

	</div>
</nav>