<nav class="navbar navbar-default navbar-custom">
	<div class="container">
			<div class="navbar-header page-scroll">
	            <div class="navbar-brand">
	            	<%= link_to "UTeM Rental Marketplace", root_path %>
	            </div>
	        </div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav navbar-right">
	            	<li class="btn-group">
	            		<button type="button" class="btn btn-default"><%= link_to 'All Requests', root_path %></button>
	            		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	            			<span class="caret"></span>
	            		</button>
	            		<ul class="dropdown-menu" role="menu">
	            			<li>
								<% Category.all.each do |category| %>
									<%= link_to category.name, requests_path(category: category.name) %>
								<% end %>				
							</li>		
	            		</ul>
	            	</li>
	            	<li>
	                    <%= link_to 'Home', root_path %>
	                </li>
	            	<li>
	            		<%= link_to 'New Request', new_request_path %>
	            	</li>
	                <li>
	                    <%= link_to 'About', root_path %>
	                </li>
	                <li>
	                    <%= link_to 'Contact', root_path %>
	                </li>	          
                	<% if !user_signed_in? %>
	                	<li>
							<%= link_to 'Sign Up', new_user_registration_path %>
						</li>
						<li>
							<%= link_to 'Sign In', new_user_session_path %>
						</li>
					<% else %>
						<li>
						<%= link_to 'Sign Out', destroy_user_session_path, method: "delete" %>
						</li>
					<% end %>
	            </ul>
        	</div>
		</div>
	</div>
</nav>